body {
  background-color: rgb(157, 181, 181);
}

#hello-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#error-button {
  background-color: #ff1100; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#param-button {
  background-color: #001eff; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#post-button {
  background-color: #ff00f7; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

#centreColumn {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 200px;
}
